#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_SLASH
                &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_ASTERISK
                &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_MINUS
            >;
        };
    };
};
