#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F16      &kp F17      &kp F18      &kp F19
                &kp F20      &kp F21      &kp F22      &kp F23
                &kp C_MUTE   &kp K_MUTE   &kp C_VOL_DN &kp C_VOL_UP
            >;
        };
    };
};
